<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<head>
  <link rel="stylesheet" href="/public/css/contacto.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/img/reciclaje.ico" type="image/x-icon"> <!-- Este icono fue descargado de Flaticon -->
  <title>Contacto | Reutiliza</title>
</head>

<body>
  <div class="nav-wrapper">
    <nav class="navbar">
      <img src="/img/logo02.png" alt="Reutiliza Logo">
      <ul class="nav no-search">
        <li class="nav-item"><a href="home.html">Inicio</a></li>
      <li class="nav-item"><a href="proyecto.html">Proyecto</a></li>
      <li class="nav-item"><a href="donaciones.html">Donaciones</a></li>
      <li class="nav-item"><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
    </div>

  <form class="form" id="form" action="https://formspree.io/f/mgeqzeea" method="POST" name="Form" onsubmit="return validateForm()">
    <h2>CONTACTANOS</h2>
    <p type="Nombre:"><input placeholder="Escribe tu nombre..." name="nombre" id="a"></input></p>
    <p type="Email:"><input placeholder="Escribe un correo para contactarte..." name="email" id="b"></input></p>
    <p type="Mensaje:"><input placeholder="¿Qué te gustaría decirnos?..." name="mensaje" id="c"></input></p>
    <button type="submit">Enviar mensaje</button>
  </form>

  <script src="/public/js/contacto.js"></script> 

</body>

</html>