<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/reciclaje.ico" type="image/x-icon"> <!-- Este icono fue descargado de Flaticon -->
  <title>Donaciones | Reutiliza</title>
  <link rel="stylesheet" href="/public/css/donaciones.css">
  <script src="/public/js/donaciones.js"></script> 
</head>

<body>
  <!-- NAVIGATION -->
  <div class="nav-wrapper">
    <nav class="navbar">
      <img src="/img/logo02.png" alt="Reutiliza Logo">
      <ul class="nav no-search">
        <li class="nav-item"><a href="index.html">Home</a></li>
      <li class="nav-item"><a href="proyecto.html">Proyecto</a></li>
      <li class="nav-item"><a href="donaciones.html">Donaciones</a></li>
      <li class="nav-item"><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
    </div>

    <!-- FORMULARIO DE DONACIONES -->
  <div class="card-form">
    <form class="deposit">     
      <div class="form-body">
        <div class="row">
          <h1 style="margin-bottom:0px;">Ayudanos donando</h1>
        </div>
        <div class="row">
          <p style="margin-top:0px;" id="donation">$0 recaudado en las últimas 24 horas</p>
        </div>
        <div class="row">
          <div class="form-block">
            <div class="button" id="1" onclick="setValue(this)">$5</div>
            <div class="button" id="2" onclick="setValue(this)">$10</div>
            <div class="button" id="3" onclick="setValue(this)">$20</div>
            <div class="button" id="4" onclick="setValue(this)">$40</div>
            <div class="button" id="5" onclick="setValue(this)">$100</div>
            <div class="button" id="6" onclick="setValue(this)">$250</div>
            <div class="button" id="7" onclick="setValue(this)">$1000</div>
          </div>
        </div>
        <div class="row">
          <input type="text" id="cc" maxlength="16" placeholder="Número de tarjeta">
        </div>
        <div class="row">
          <input type="text" id="name" placeholder="Nombre del titular">
          <input type="text" id="date" maxlength="5" placeholder="MM/YY">
          <input type="text" id="cvc" maxlength="3" placeholder="CVC">
        </div>
      </div>
      <div class="form-footer">
        <div class="btn" onclick="validate(this)">Donar fondos</button>
        </div>
    </form>
  </div>
  </body>

</html>