<!DOCTYPE html>
<html>

<head>
	<script defer src="https://friconix.com/cdn/friconix.js">

	</script>
	<script src="https://use.fontawesome.com/5a0ba4aa3e.js">

	</script>
	<title>Healthy Home Donation Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/donaciones.css">
</head>

  <body>
    <div class="wrapper">
    <h4 class="text-uppercase">Payment Details</h4>
    <form class="form mt-4">
        <div class="form-group"> <label for="name" class="text-uppercase">name on the card</label> <input type="text" class="form-control" placeholder="Nicolos Flemming"> </div>
        <div class="form-group"> <label for="card" class="text-uppercase">card number</label>
            <div class="card-number"> <input type="text" class="card-no" step="4" placeholder="1234 4567 5869 1234" pattern="^[0-9].{15,}"> <span class=""> <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-marcus-samuelsson-group-2.png" alt="" width="30" height="30"> </span> </div>
        </div>
        <div class="d-flex w-100">
            <div class="d-flex w-50 pr-sm-4">
                <div class="form-group"> <label for="expiry" class="text-uppercase">exp.date</label> <input type="text" class="form-control" placeholder="03/2020"> </div>
            </div>
            <div class="d-flex w-50 pl-sm-5 pl-3">
                <div class="form-group"> <label for="cvv">CVV</label> <a href="#" color="black" title="CVV is a credit or debit card number, the last three digit number printed on the signature panel">what's this</a> <input type="password" class="form-control pr-5" maxlength="3" placeholder="123"> </div>
            </div>
        </div>
        <div class="form-inline pt-sm-3 pt-2"> <input type="checkbox" name="address" id="address"> <label for="address" class="px-sm-1 pl-1 pt-sm-0 pt-2">I am donating on behalf of someone or as gift</label> </div>
        <div class="form-inline py-sm-2"> <input type="checkbox" name="details" id="details"> <label for="details" class="px-sm-2 pl-2 pt-sm-0 pt-2">Save my details for any future donations</label> </div>
        <div class="my-3"> <input type="submit" value="Donate To Healthy Homes" class="text-uppercase btn btn-dark btn-block p-3"> </div>
        <div id="form-footer">
            <p>By placing your donation, you agree at helping</p>
            <p>our awareness around the world!</p>
        </div>
    </form>
</div>
  <a class="btn btn-primary" href="https://team-1-healthy-homes-alliance.johannaakakpo1.repl.co/#" role="button">Back to Home Page</a>
  </body>
</html>