<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
  <link rel="stylesheet" href="/public/css/home.css">
  <title>Home</title> 
</head>

<body>
  <div>
  <h1>Reutiliza</h1>

  <div class="navbar"> <!-- Esta va a ser nuestra navbar -->
    
    <a href="/views/home.html">Home</a>
    <a href="/views/proyectos.html">Proyectos</a>
    <a href="/views/donaciones.html">Donaciones</a>
    <a href="/views/contacto.html">Contacto</a>
  </div>

  </div>
</body>
</html>