<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto | Revalora</title>
    <link rel="shortcut icon" href="/img/reciclaje.ico" type="image/x-icon"> <!-- Este icono fue descargado de Flaticon -->
    <link rel="stylesheet" href="/public/css/proyecto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Proyecto </h1>
        <div class="section">  
            <div class="text"> 
            <h2>Más acerca de la ecomadera...</h2>
                <p>Nuestra ecomadera nos facilita poner en valor plásticos que de otra manera terminarían en vertederos, ríos y mares. Este material reciclado resulta muy versátil ya que puede utilizarse para la construcción de un sinfín de mobiliarios .<br>
                Es muy útil para reemplazar la madera convencional reduciendo la tala de bosques. La ecomadera, además, posee alta resistencia a la intemperie y la humedad y es retardante de la llama por lo que resulta óptima para su utilización en elementos de exterior y es mucho más segura que la madera. <br></p>
            </div>
            <img src="\img\ecomadera.jpg" alt="">
            </div>
        <div class="section">
            <div class="text">
            <h2>Nuestra fábrica</h2>
                 <p> Nuestra planta se encuentra ubicada en General Pacheco, prov. de Buenos Aires. Allí nuestros camiones depositan el plástico que es retirado de las fábricas industriales que colaboran con nosotros y de lo reciclado por la comunidad residencial a través de los puntos de recolección que tenemos a lo largo de la provincia de Buenos Aires. <br>               
                  Allí los derechos plásticos son clasificados y separados para ingresar a las máquinas que los transforman en ecomadera lista para la confección de todo tipo de mobiliario. </p>
            </div>
            <img  class="centrar" src="\img\maquinas.jpg" alt="">
            </div>
            </div>
            <div class="section">
                <div class="text">
                <h2>Puesta en valor de la ecomadera </h2>
               <p> Con la materia prima reconvertida en listones de madera plástica, nuestros voluntarios construyen todo tipo de mobiliario que será donado a escuelas, comedores, fundaciones, etc.  <br> Para ello contamos con un equipo de colaboradores que se encargan de recabar información acerca de las necesidades específicas del lugar elegido como beneficiario final de nuestros productos asegurandonos de realizar aquel mobiliario que se adapte a las mismas. Por ejemplo, realizamos juegos y bancos de plaza, pupitres, mesas, sillas, etc. ¡Todo el posible con la ecomadera! </p>
                </div>
                <img src="\img\juego-plaza.jpg" alt="">
                </div>
         <div class="section">
         <div class="text">   
            <h2>Charlas y encuentros con la comunidad</h2>
                <p> Nos avocamos a la concientización, no sólo del reciclaje de los plásticos de un solo uso, sino también en la reducción de desechos, porque creemos que el mejor residuo es aquel que no se genera.  <br>
                 Es por ello, que damos talleres y charlas sobre cuidado del medio ambiente, reducción de impacto ambiental y reciclaje en escuelas, cooperativas, fundaciones, etc. Por lo que si estás interesado en que juntos realicemos un taller o charla no dudes en <a href="contacto.html">contactarte con nosotros.</a> </p> 
            </div>
            <img src="\img\charla.jpg" alt="">
            </div>
</body>
</html>