*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f9f6f7;
    margin: 0
}

 .nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color:#e6e6e6;
  }
  
  /* NAVIGATION */
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 75px;
    overflow: hidden;
  }
  
  .navbar img {
    height: 64px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* justify-self: end; */
  }
  
  .nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 550;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #7fc213;
  }

.form {
    width: 340px;
    height: 440px;
    background: #E4EDDE;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;   
    
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #7fc213;
    border-bottom: 3px solid #7fc213
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;   
    transition: all .3s;
    border-bottom: 2px solid #929296
}

input:focus {
    border-bottom: 2px solid #7fc213
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5e5e5e
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;   
    border: 2px solid #929296;
    background: 0;
    color: #929296;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    background: #649613;
    color: #fff
}

div {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #929296;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000    
}

span {
    margin: 0 5px 0 15px
}