body {
    margin:0px;
    font-family: 'Roboto', sans-serif;;;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color:#e6e6e6;
  }
  
  /* NAVIGATION */
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 75px;
    overflow: hidden;
  }
  
  .navbar img {
    height: 64px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* justify-self: end; */
  }
  
  .nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 550;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #7fc213;
  }
h2 {
    color: #7fc213
}
h1{
    text-align: center;
    color: #7fc213
}
.section {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 60%;
    margin: 60px auto 0 auto;
    text-align: justify;
    justify-content: center;
    border-width: 1.5px;
    background-color: #E4EDDE;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;


}
.section img {
    display: flex;
    height: 187.96px;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border-radius: 5px;
    vertical-align: middle;
   
}
.section h2 {
    margin: 0;
}

.section text {
    display: flex;
    width: 50%;
    height: 100%;
    margin-right: 15px;
    
} 
 .centrar {
    display: table-cell;
    vertical-align: middle;
 }

#link-contacto {
    text-decoration: none;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}
#link-contacto:hover {
    background: #5F7161;
    color: #fff
}