body {
    margin:0px;
    font-family: 'Roboto', sans-serif;;
    color: rgb(66, 66, 66);
    text-align: center;
    background: #D0C9C0
}
h1 h2 {
    color: rgb(53, 53, 53);
}
h1{
    text-align: center;
}
.section {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 60%;
    margin: 60px auto 0 auto;
    text-align: justify;
    justify-content: center;
    border-width: 1.5px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;


}
.section img {
    display: flex;
    height: 187.96px;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border-radius: 5px;
    vertical-align: middle;
   
}
.section h2 {
    margin: 0;
}

.section text {
    display: flex;
    width: 50%;
    height: 100%;
    margin-right: 15px;
    
} 
 .centrar {
    display: table-cell;
    vertical-align: middle;
 }

a {
    text-decoration: none;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}
a:hover {
    background: #5F7161;
    color: #fff
}